<h1 class="mt-4">Clientes</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{cliente.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container-fluid">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="alert-salvar alert alert-success col-md-12" role="alert" *ngIf="sucess">

                <b>Dados salvos com sucesso</b>
            </div>
            <div class="alert alert-danger col-md-12" role="alert" *ngFor="let erro of erros">
                <b>{{erro.message}}</b>
            </div>
            <div class="col-md-6" *ngIf="cliente.id">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled [ngModel]="cliente.id" name="id">
                </div>
            </div>
            <div class="col-md-6" *ngIf="cliente.data">
                <div class="form-group">
                    <label>Data de Cadastro:</label>
                    <input type="text" class="form-control" disabled [ngModel]="cliente.data" name="dataCadastro">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-success mr-1" *ngIf="!cliente.id">
                        <i class="fa fa-save"></i> Salvar
                    </button>
                    <button type="submit" class="btn btn-primary mr-1" *ngIf="cliente.id">
                        <i class="fa fa-sync-alt"></i> Atualizar
                    </button>
                </div>
            </div>
            <div *ngIf="cliente.id">
                <button type="button" class="btn btn-danger" (click)="btnVoltarCliente()">
                    <i class="fa fa-save"></i> Voltar
                </button>
            </div>
        </div>
    </form>
    <br>
    <app-clientes-lista-tabela *ngIf="!cliente.id"></app-clientes-lista-tabela>
</div>