<div class="row">
    <div class="col-md-12">
       <div  class="col-md-12 alert-excluir alert alert-success alert-dismissible fade show" role="alert" *ngIf="mensagemSucesso">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      </button>
      {{mensagemSucesso}}
    </div>
  
    <div class="col-md-12 alert alert-success alert-dismissible fade show" role="alert" *ngIf="mensagemErro">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{mensagemErro}}
    </div>
    <table id="table_id" class="display">
       <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Data de Cadastro</th>
                <th>Editar</th>
                <th>Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.data}}</td>
                <td><button type="button" class="btn-sm btn-primary" routerLink="/clientes-form/{{cliente.id}}">
                    <i class="fa fa-edit"></i>
                </button></td>
                <td><button type="button" class="btn-sm btn-danger" data-toggle="modal"
                  data-target="#modalDelecao" (click)="preparaDelecao(cliente)">
                  <i class="fa fa-trash"></i>
              </button></td>
              </tr>
            </tbody>
    </table>
    </div>
</div>
<div id="modalDelecao" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>
      <div class="modal-body" *ngIf="clienteSelecionado"> 
       Confirma a deleção do(a) cliente {{clienteSelecionado.nome}} ?
      </div>
      <div class="modal-footer">
        <button class="btn btn-success"data-dismiss="modal" (click)="deletarCliente()">Confirma</button>
        <button class="btn btn-default" data-dismiss="modal">Cancela</button>
      </div>
    </div>
  </div>
</div>